{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block body %}
    <div class="container text-center">
        <div class="jumbotron">
            <h3>Welcome to my Chat app</h3>
        </div>
    </div>
    <div class="container text-center">

		<h1 >Slider Demo</h1>
		<form class="mt-5">
		  <div class="form-group">
		    <label for="formControlRange">Demo Slider 1</label>
		    <input type="range" class="form-control-range sync" id="slider1" min="0" max="50" value="{{slider1}}">
		  </div>
		  <div class="form-group">
		    <label for="formControlRange">Demo Slider 2</label>
		    <input type="range" class="form-control-range sync" id="slider2" min="0" max="50" value="{{slider2}}">
		  </div>
		</form>
	</div>
{% endblock body %}